<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.csj.app_sudoku">
    <uses-permission android:name="android.permission.INTERNET"/>


    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name = "com.csj.app_sudoku.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Activity_" android:label = "Activity_"></activity>
        <activity android:name="game_Activity" android:label="game_Activity"></activity>
        <activity android:name=".game_success" android:label="game_success"></activity>
        <activity android:name=".game_main" android:label="game_main"></activity>
        <activity android:name=".play_menu" android:label="play_menu"></activity>
        <activity android:name=".food_main" android:label="food_main"></activity>
        <activity android:name=".music_main" android:label="music_main"></activity>
        <activity android:name=".move_main" android:label="move_main"></activity>
        <activity android:name=".bad_food" android:label="bad_food"></activity>
    </application>

</manifest>